/* STYLES HERE */

/*

To Do:
- change display type from grid to block
- change font of button
- media query for text
- make registration-page narrower on desktop

*/

/* color declarations */
/*
* According to DC styling:
* Black is used for text only.
* White is the preferred background for DC materials. In other instances, white becomes the inverted colour on a DC Green background.
* These colours are used to enhance our primary colour and create differentiation and emphasis.
* We recommend using Samac Orange for a call to action.
* Simcoe Grey is used to break up large portions of white, or for subtle elements to enhance the design and message.
* Cadbury Brown is used in bar graphic elements only.
*/
* {
    box-sizing: border-box;
}

:root {
    --dc-green: #0B8261;
    --dc-yellowgreen: #45A046;
    --dc-brown: #522C1B;
    --dc-grey: #455560;
    --dc-orange: #D33222;
}

/* font imports */
@font-face {
    /* should change font-family name to name of use (ex. paragraph, header) */
    font-family: Oswald;
    src: url(../fonts/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

/* font declarations */
h1,h2,h3,h4,h5,h6 {
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
}

p {
    font-family: Lato, sans-serif;
}

body {
    box-sizing: border-box;

    background-color: #eff7f1;
    background-image: url("images/circuit-board.svg");
    height: 100vh;
    width: 100vw;
    padding:0;
    margin:0;
    /* to make text size same in all browsers, and to zoom or resize text */
    font-size: 16px;
    display: flex;
}

/* splash styles */
#splash {
    width: 50vw;
    height:100%;
    margin: auto auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash-event-name {
    color: var(--dc-green);
    text-align: center;
    text-transform: uppercase;
}

/* registration form page styles */
#registration-page {
    height: 95%;
    width: 90%;
    /* padding-top: 5%; */
    padding: 4%;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 15% 10% 10% 65%;
    grid-template-areas: ". logo ."
                        ". eventName ."
                        ". description ."
                        ". form .";

    border: 1px solid var(--dc-green);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: auto auto;
}

#registration-form-logo {
    width: auto;
    height: 90%;
    margin: auto;
    grid-area: logo;
}

#registration-event {
    grid-area: eventName;
    color: var(--dc-orange);
    font-family: 'Lato';

    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: normal;
}

#registration-form-instruction {
    grid-area: description;

    margin-left: auto;
    margin-right: auto;

    min-width: 50%;
    width: 250px;
    max-width: 70vw;

    line-height: 1.3rem;
    color: var(--dc-green);
}

#registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    grid-area: form;
}

input, button {
    min-width: 50%;
    width: 250px;
    max-width: 70vw;
}

input {
    border: none;
    border-bottom: 0.5px solid var(--dc-yellowgreen);
    font-family: Oswald;
    font-size: 1rem;
    letter-spacing: 0.2em;
    background-color: #fff0;
}

input:focus {
    border: none;
    border-bottom: 2px solid var(--dc-brown);
    outline: none;
}

button {
    height: 3em;
    background-color: var(--dc-green);
    color: #ffffff;
    border-radius: 10px;
    border: none;
}
