html {
    background: radial-gradient(rgba(255,255,255,1) 0%, rgba(159,159,159,1) 110%);
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    box-sizing: border-box;
}

iframe{
   width: 375px;
   height: 667px; 
   border-top: 25px solid black;
   border-right: 10px solid black;
   border-left: 10px solid black;
   border-bottom: 45px solid black;
   border-radius: 20px;
   box-shadow: 2px 2px 7px #000;
   margin-right: 50px;
}