body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    overflow: hidden;
}

iframe{
   width: 375px;
   height: 667px; 
   border-top: 25px solid black;
   border-right: 10px solid black;
   border-left: 10px solid black;
   border-bottom: 45px solid black;
   border-radius: 20px;
   box-shadow: 2px 2px 7px #000;
   margin-right: 50px;
}