*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #efeeee;
    position: relative;
    height: 100vh;
    overflow-y: hidden;
}

#map{
    position: relative;
    background: #1e3853;
    color: #c5eff7;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#fader{
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #00000010;
    position: absolute;
}

#lowerInfo{
    position: absolute;
    top: 90vh;
    background: #c9c9c9;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}

#dragBar{
    background: #1e3853;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #c5eff7;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#fullInfo{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#roomInfo{
    margin-top: 50px;
    margin-left: 50px;
}

#roomInfoText{
    margin-top: 25px;
}

#eventsTab{
    height: 100vh;
    width: 107vw;
    background: #000;
    position: absolute;
    top: 25%;
    left: -100vw;
    z-index: 3;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}
